@tailwind base;
@tailwind components;
@tailwind utilities;





html{
scroll-behavior:
    smooth;

    overflow-x: hidden;
}





 .background {
    background-image:URL('/img/background.webp')
 }
.group:hover  {

    background-color :  #FF589ECC;


}

.group:hover picture   {

    background-color :  #FF589E;


}
.group:hover h3   {

    color : white;


}
.group:hover p  {

    color : white;


}
.group:hover i  {

    color : white;


}


.group:hover .button  {
    background : white;
    color :  #FF589E;


}

.group:hover .fa-arrow-right{

    color :  #FF589E;
    
    

}






.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    z-index: 0;
    transform: skewY(6deg);
    transform-origin: top right;
  }


  .letter{
  

    background-image:Url('/img/bg-letter.webp');
    background-position:center center;
    background-size : cover
  
  }